{% extends 'base.html.twig' %}

{% block body %}
{% block content %}
    <div class="container">
        <h1>Liste des monuments</h1>
        <div class="monument-list">
            <ul>
                {% for nomUsage in nomsUsages %}
                    <li>{{ nomUsage }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% endblock %}
